.exerciseList {
  list-style-type: none;
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.gridItem {
  overflow: hidden;
  border: 1px solid black;
  width: 300px;
  background: rgb(30,30,30);
  cursor: pointer;
  padding-bottom: 15px;
}

.gridItem h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cardImage {
  overflow: hidden;
}
.cardImage img {
  width: 100%;
  max-height: 150px;
  /* background: radial-gradient(circle at center, #c3fffa 0, #3f827c 100%); */
  transition: all 0.3s ease;
  object-fit: cover;
}

.gridItem:hover .cardImage img {
  transform-origin: center;
  transform: scale(1.05);
}
/* .cardImage img:hover {
  transform-origin: center;
  transform: scale(1.05);
} */