.gridItem {
  overflow: hidden;
  width: 300px;
  background: rgb(30,30,30);
  cursor: pointer;
  padding-bottom: 15px;
}

.gridItem h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cardImage {
  overflow: hidden;
}
.cardImage img {
  width: 100%;
  max-height: 150px;
  transition: all 0.3s ease;
  object-fit: cover;
}

.gridItem:hover {
  box-shadow: 0px 0px 3px 3px rgb(63, 145, 161);
}
.gridItem:hover .cardImage img {
  transform-origin: center;
  transform: scale(1.05);
}

.sidebar {
  overflow: auto;
}

.content {
  overflow: auto;
}